{% extends "layout.html" %}

{% block content %}
<h2>Ask me</h2>

{% if success %}
<p> <b> You asked me:  </b> "{{ask_me_prompt}}".  </p>
<p> <b> Here's your answer:  </b> {{ask_me_response}}  </p>
{% else %}  
{% for prompt in form.prompt.errors %}
<div class="flash">{{ prompt }}</div>
{% endfor %}

<form action="{{ url_for('askme') }}" method=post>
<!-- 
This form has no CSRF protection.  To add, see:
https://flask-wtf.readthedocs.io/en/0.15.x/csrf/
--> 

{{ form.prompt.label }}
{{ form.prompt }}

{{ form.submit }}
</form>
{% endif %}

{% endblock %}