{% extends "layout.html" %}

{% block content %}
<h2>Speech me</h2>

{% if success %}
<p> <b> You asked me:  </b>"{{speech_me_prompt}}"  </p>
<p> <b> How does this look?:  </b> </p>
<audio controls>
    <source src="{{ speech_me_response }}", type="audio/mpeg">
</audio>

{% else %}  
{% for prompt in form.prompt.errors %}
<div class="flash">{{ prompt }}</div>
{% endfor %}

<form action="{{ url_for('speechme') }}" method=post>
<!-- 
This form has no CSRF protection.  To add, see:
https://flask-wtf.readthedocs.io/en/0.15.x/csrf/
--> 

{{ form.prompt.label }}
{{ form.prompt }}

{{ form.submit }}
<p> It will likely take a few seconds for the drawing to appear.   </p>
</form>
{% endif %}

{% endblock %}