.experience-bar-container {
    width: 100;
    background-color: aliceblue;
    border-radius: 5px;
    margin-top: 10px;
}

.experience-bar {
    height: 24px;
    background-color:fuchsia; /*bar color*/
    text-align: right;
    line-height: 24px;
    color:white; /*text color*/
    border-radius: 5px;
    width: 0%;
}