{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
<div class="inactive">
  <h1 class="inactive-title">Verify your email address</h1>
  <p class="inactive-text">
    To complete your registration, please check your inbox for an email from us. 
    <br/>
    Click on the verification link provided in the email to verify your email address and activate your account.
  </p>
  
  <a class="inactive-link" href="{{ url_for('resend_confirmation') }}">Resend Verification Email</a>
</div>
{% endblock %}