{% extends "layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Learning Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz_results.css') }}">
</head>
<body>

    <div class="passed">
        <div class ="box">
            <p class="youscored">You scored: </p>
            <h1 class="score">{{ user_rank }}</h1>
            <a href="{{ url_for('learn') }}"><button id="returnlearn">continue</button></a>
        </div>
    </div>

    
</body>
{% endblock %}