{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
    <div class="password-reset-request">
        <form class="password-reset-request-form" method="POST" action="">
            {{ form.hidden_tag() }}
            <h1 class="password-reset-request-form-title">Reset Password</h1>
            <div class="password-reset-request-form-item">
                <h3 class="password-reset-request-item-name">Current Username</h3>
                {{ form.email }}
            </div>
            <div class="password-reset-request-form-item">
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock content %}