<!-- This is the welcome page for the user -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='summary.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
  <title>Welcome</title>
</head>
<body class="body1">
  <div class="navbar">
    <div class="logo">
      <img src="{{ url_for('static',filename='Logo.png') }}">
  </div>
  <ul class="navbar__menu">
    <li class="navbar__menu__item"><a href="{{ url_for('welcome') }}" class="navbar__link">HOME</a></li>
    <li class="navbar__menu__item"><a href="{{ url_for('news') }}" class="navbar__link">NEWS</a></li>
    <li class="navbar__menu__item"><a href="{{ url_for('learn') }}" class="navbar__link">LEARN</a></li>
    <!--Change this to have the URL Endpoint that points to the shorts page-->
    <li class="navbar__menu__item"><a href="{{ url_for('shorts') }}" class="navbar__link">SHORTS</a></li>
    <li class="navbar__menu__item"><a href="{{ url_for('forum') }}" class="navbar__link">FORUM</a></li>
    {% if current_user.is_authenticated %}
      <li class="navbar__menu__item special"><a href="{{ url_for('profile', username=current_user.username) }}" class="navbar__link">PROFILE</a></li>
    {% else %}
      <li class="navbar__menu__item special"><a href="{{ url_for('login') }}" class="navbar__link">LOGIN</a></li>
    {% endif %}
  </ul>
</div>
<div class = "title">
    <h2 class="h2">A little About Us</h1>
</div>
<div class="summary-sections">
    <div class="summary-section">
        <h2 class="h2">Daria Bilash</h2>
        <p>As a computer science major, my interest in developing Hindsight was sparked by my own journey as a 
            young investor navigating the stock market. I recall feeling overwhelmed and unsure, with limited resources at my disposal 
            and a reluctance to seek help. With Hindsight, my aim is to create a platform tailored to support young individuals as 
            they enter the world of investing. By simplifying complex financial terms and concepts, Hindsight empowers users to approach 
            the stock market with confidence. My hope is that Hindsight will reduce confusion and enable users
            to make informed decisions, thereby helping them capitalize on the opportunities presented by the stock market.
        </p>
    </div>

    <div class="summary-section">
        <h2 class="h2">Rose Ochoa</h2>
        <p>As a computer science major, my interest in developing Hindsight was sparked by my own journey as a 
            young investor navigating the stock market. I recall feeling overwhelmed and unsure, with limited resources at my disposal 
            and a reluctance to seek help. With Hindsight, my aim is to create a platform tailored to support young individuals as 
            they enter the world of investing. By simplifying complex financial terms and concepts, Hindsight empowers users to approach 
            the stock market with confidence. My hope is that Hindsight will reduce confusion and enable users
            to make informed decisions, thereby helping them capitalize on the opportunities presented by the stock market.
        </p>
    </div>

    <div class="summary-section">
      <h2 class="h2">Adarsh Ram</h2>
      <p>As a computer science major, my interest in developing Hindsight was sparked by my own journey as a 
        young investor navigating the stock market. I recall feeling overwhelmed and unsure, with limited resources at my disposal 
        and a reluctance to seek help. With Hindsight, my aim is to create a platform tailored to support young individuals as 
        they enter the world of investing. By simplifying complex financial terms and concepts, Hindsight empowers users to approach 
        the stock market with confidence. My hope is that Hindsight will reduce confusion and enable users
        to make informed decisions, thereby helping them capitalize on the opportunities presented by the stock market
      </p>
    </div>

    <div class="summary-section">
       <h2 class="h2">Dhruve Mistry</h2>
       <p>As a computer science major, my interest in developing Hindsight was sparked by my own journey as a 
        young investor navigating the stock market. I recall feeling overwhelmed and unsure, with limited resources at my disposal 
        and a reluctance to seek help. With Hindsight, my aim is to create a platform tailored to support young individuals as 
        they enter the world of investing. By simplifying complex financial terms and concepts, Hindsight empowers users to approach 
        the stock market with confidence. My hope is that Hindsight will reduce confusion and enable users
        to make informed decisions, thereby helping them capitalize on the opportunities presented by the stock market.
    </p>
    </div>

    <div class="summary-section">
        <h2 class="h2">Sean Skaugen</h2>
        <p>As a Computer Science major with a minor in Applied Mathematics at Texas State University, 
           I am eager to use my knowledge to create positive change in the world. I am particularly passionate about enhancing financial literacy.
           By developing innovative tools and resources, I aim to bridge the knowledge gap in personal finance, empowering individuals to make informed decisions and significantly improve their quality of life.
        </p>
     </div>

     <div class="summary-section">
        <h2 class="h2">Maria Renee San Esteban</h2>
        <p>As a computer science major, my interest in developing Hindsight was sparked by my own journey as a 
            young investor navigating the stock market. I recall feeling overwhelmed and unsure, with limited resources at my disposal 
            and a reluctance to seek help. With Hindsight, my aim is to create a platform tailored to support young individuals as 
            they enter the world of investing. By simplifying complex financial terms and concepts, Hindsight empowers users to approach 
            the stock market with confidence. My hope is that Hindsight will reduce confusion and enable users
        </p>
     </div>

  </div>
</body>
</body>
</html>
